<h1>Detalhes do Zumbi:</h1>
<hr>
<div class="media zombie-details">
  <div class="media-left">
    <img class="media-object" src="/images/{{zombie.zombie.pictureUrl}}">
  </div>
  <div class="media-body">
    <h2 class="media-heading">{{zombie.name}}</h4>
    <div>
      <span class="property">Nome anterior: </span> <span class="value">{{zombie.zombie.previousName}}</span>
    </div>
    <div>
      <span class="property">Nascido em: </span> <span class="value">{{zombie.zombie.born}}</span>
    </div>
    <div>
      <span class="property">Mordido por: </span>
      <span class="value">
        {{#if zombie.zombie.bittenBy}}
          {{zombie.biter.name}} <img class="media-object-vs" src="/images/{{zombie.biter.pictureUrl}}">
        {{else}}
          Nao se sabe...
        {{/if}}
      </span>
    </div>
  </div>
</div>
