<h1>Bem vindo ao <span class="logo-type"><span class="secondary-logo-color">Jardim</span> <span class="primary-logo-color">Zumbi</span></span></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9">
      <form class="action-buttons" action="/people/eaten?_method=PUT" method="POST">
        <fieldset>
          <legend>Comer cerebros</legend>
          <span class="help-block">Quando um zumbi come o cerebro de uma pessoa, ela morre (altera status para morta).</span>
          <div class="container-fluid form-rows">
            <div class="row">
              <div class="col-xs-3">
                <label for="zombie" class="control-label">Quem vai comer? (zumbi)</label>
              </div>
              <div class="col-xs-6">
                <select class="form-control" name="zombie" id="zombie">
                  {{#each zombies}}
                  <option value="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <label for="person" class="control-label">Quem? (pessoa)</label>
              </div>
              <div class="col-xs-6">
                <select class="form-control" name="person" id="person">
                  {{#each people}}
                  {{#if alive}}
                  <option value="{{id}}">{{name}}</option>
                  {{/if}}
                  {{/each}}
                </select>
              </div>
              <div class="col-xs-3">
                <button type="submit" class="btn btn-default">Comer</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <form class="action-buttons" action="/zombies/brains" method="POST">
        <fieldset>
          <legend>Dar uma mordiscadinha</legend>
          <span class="help-block">Quando um zumbi mordisca uma pessoa, ela se torna zumbi.</span>
          <div class="container-fluid form-rows">
            <div class="row">
              <div class="col-xs-3">
                <label for="zombie" class="control-label">Quem vai mordiscar? (zumbi)</label>
              </div>
              <div class="col-xs-6">
                <select class="form-control" name="zombie" id="zombie">
                  {{#each zombies}}
                  <option value="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <label for="person" class="control-label">Quem? (pessoa)</label>
              </div>
              <div class="col-xs-6">
                <select class="form-control" name="person" id="person">
                  {{#each people}}
                  {{#if alive}}
                  <option value="{{id}}">{{name}}</option>
                  {{/if}}
                  {{/each}}
                </select>
              </div>
              <div class="col-xs-3">
                <button type="submit" class="btn btn-default">Mordidinha</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <!-- Estatisticas -->
    <div class="col-xs-3">
      <h3 id="statistics-title">Estatisticas</h3>
      <hr>
      <h4>
        Pessoas:
        <small class="statistics-count">
          <span class="badge">{{people.length}}</span>
          {{#if peopleCountChange}}
          <sup class="label label-danger sliding-out">{{peopleCountChange}}</sup>
          {{/if}}
        </small>
      </h4>
      <ul class="list-inline">
        {{#each people}}
        <li><span class="label label-{{#if alive}}success{{else}}default dead{{/if}}">{{name}}</span></li>
        {{/each}}
      </ul>
      <hr>
      <h4>
        Zumbis:
        <small class="statistics-count">
          <span class="badge">{{zombies.length}}</span>
          {{#if zombieCountChange}}
          <sup class="label label-info sliding-out">{{zombieCountChange}}</sup>
          {{/if}}
        </small>
      </h4>
      <ul class="zombie-mini-list list-inline">
        {{#each zombies}}
        <li><img class="media-object-vs" src="/images/{{pictureUrl}}" data-toggle="tooltip" data-placement="top" title="{{name}}"></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
